# Twitter integration
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
TWITTER_WEBHOOK_ENV=

# Local Twitter account dashboard web application. This will be used to set up your Twitter app's webhooks
BASIC_AUTH_USER=
BASIC_AUTH_PASSWORD=

## Flex Integration
TWIL_FLEX_ACCOUNT_KEY=
TWIL_FLEX_ACCOUNT_SID=
FLEX_FLOW_SID=
FLEX_CHAT_SERVICE=

# The host that will receive the Twitter webhooks e.g. https://1231231.ngrok.io
WEBHOOK_BASE_URL=